@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="col-md-6 offset-md-3 mt-5 mb-5">

    <h1>@ViewData["Title"]</h1>
    
<p class="mt-5 mb-5">
    This site is simply a demo for an Upwork Proposal, and none of the information on this site will be used for any other purpose. 
    Any information collected through the site will only be sent to the developer or the Upwork job poster. The app is password 
    protected via a password provided only to the Upwork job poster. Thanks for taking the time to look at my app!
    </p>
        
<div class="ms-5">
        <h6>- Jordan Murphy</h6>
    </div>
    
   
    <hr class="mt-5 mb-5">

</div>
