@page
@model SuccessModel
@{
    ViewData["Title"] = "Success! Email Sent";
}


<div class="col-md-6 offset-md-3 mt-5 mb-5">

    <h1>@ViewData["Title"]</h1>
    
<p class="mt-5 mb-5">
    As long as you provided the correct password and a valid destination email address, your email has been sent. 
    Feel free to <a asp-area="" asp-page="/Index">test it out some more</a> and send more emails. Thanks for checking out the app!
    </p>
        
<div class="ms-5">
        <h6>- Jordan Murphy</h6>
    </div>
    
   
    <hr class="mt-5 mb-5">

</div>
